In [1]:
!pip install pyOpenSSL

Requirement already satisfied: pyOpenSSL in c:\users\user\anaconda3\lib\site-packages (19.1.0)
Requirement already satisfied: cryptography>=2.8 in c:\users\user\anaconda3\lib\site-packages (from pyOpenSSL) (3.1.1)
Requirement already satisfied: six>=1.5.2 in c:\users\user\anaconda3\lib\site-packages (from pyOpenSSL) (1.15.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in c:\users\user\anaconda3\lib\site-packages (from cryptography>=2.8->pyOpenSSL) (1.14.3)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.8->pyOpenSSL) (2.20)

In [3]:
import pandas as pd
import requests
import xml.etree.ElementTree as ET
import xml.dom.minidom
import xmltodict
import json
from urllib.request import urlopen
# import pyOpenSSL

In [4]:
key = 'KR0OWJA68HN4OZGGOCRQ'

In [5]:
topic = '104Y016'
period = 'M'
beg = '202301'
end = '202306'
item1 = 'BDCA1'
item2 = ''
item3 = ''
item4 = ''

In [6]:
url = 'https://ecos.bok.or.kr/api/StatisticSearch/' \
+key \
+'/xml/kr/'+str(1)+'/'+str(100)+'/' \
+topic+'/'+period+'/'+beg+'/'+end \
+'/'+item1

In [11]:
url

'https://ecos.bok.or.kr/api/StatisticSearch/KR0OWJA68HN4OZGGOCRQ/xml/kr/1/100/104Y016/M/202301/202306/BDCA1/'

In [7]:
response = requests.get(url)

In [8]:
response

In [38]:
if response.status_code == 200:
        try:
            contents = response.text
            ecosRoot = ET.fromstring(contents)
            # error check
            if ecosRoot[0].text[:4] in ("INFO","ERRO"):
                print(ecosRoot[0].text + " : " + ecosRoot[1].text)

            else:
                #print(contents)
                #dom = xml.dom.minidom.parse(xml_fname)
                dom = xml.dom.minidom.parseString(contents)
                pretty_xml_as_string = dom.toprettyxml(indent=" ")
                # print(pretty_xml_as_string)
                dic = xmltodict.parse(pretty_xml_as_string)
                n = int(dic['StatisticSearch']['list_total_count']['#text'])
                df_ecos = pd.DataFrame(index = [dic['StatisticSearch']['row'][i]['TIME'] for i in range(n)])
                df_ecos[dic['StatisticSearch']['row'][0]['ITEM_NAME1']] = [float(dic['StatisticSearch']['row'][i]['DATA_VALUE']) for i in range(n)]
                print(df_ecos)
                # if type(df_ecos)==type(pd.DataFrame()): 
                #     df = pd.DataFrame()
                #     df_ecos = df.merge(df_ecos, left_index=True, right_index=True, how='left')
                #     return df_ecos
        except Exception as e:
            print(str(e))

             총대출금
202301  2168698.3
202302  2170233.0
202303  2171145.4
202304  2177578.1
202305  2187357.9
202306  2197685.5

In [36]:
def extract_loan_data_from_xml(contents, df=None):
    ## get API return value upon the http request
    if response.status_code == 200:
        try:
            contents = response.text
            ecosRoot = ET.fromstring(contents)
            # error check
            if ecosRoot[0].text[:4] in ("INFO","ERRO"):
                print(ecosRoot[0].text + " : " + ecosRoot[1].text)

            else:
                #print(contents)
                #dom = xml.dom.minidom.parse(xml_fname)
                dom = xml.dom.minidom.parseString(contents)
                pretty_xml_as_string = dom.toprettyxml(indent=" ")
                # print(pretty_xml_as_string)
                dic = xmltodict.parse(pretty_xml_as_string)
                n = int(dic['StatisticSearch']['list_total_count']['#text'])
                df_ecos = pd.DataFrame(index = [dic['StatisticSearch']['row'][i]['TIME'] for i in range(n)])
                df_ecos[dic['StatisticSearch']['row'][0]['ITEM_NAME1']] = [float(dic['StatisticSearch']['row'][i]['DATA_VALUE']) for i in range(n)]
                return df_ecos
                # if type(df_ecos)==type(pd.DataFrame()): 
                #     df = pd.DataFrame()
                #     df_ecos = df.merge(df_ecos, left_index=True, right_index=True, how='left')
                #     return df_ecos
        except Exception as e:
            print(str(e)) 

result = extract_loan_data_from_xml(url)
result

             총대출금
202301  2168698.3
202302  2170233.0
202303  2171145.4
202304  2177578.1
202305  2187357.9
202306  2197685.5

In [23]:
df = pd.DataFrame()
process_response(response, df)

Empty DataFrame
Columns: [총대출금]
Index: []

Kosis

In [ ]:
url = 'https://kosis.kr/openapi/Param/statisticsParameterData.do?method+'&orgId='+orgId +'&tblId='+table +'&prdSe='+period \
+'&startPrdDe='+beg +'&endPrdDe='+end \
+'&itmId='+item \
+'&objL1='+obj1 +'&objL2='+obj2 \
+'&objL3='+obj3 +'&objL4='+obj4 \
+'&objL5='+obj5 +'&objL6='+obj6 \
+'&objL7='+obj7 +'&objL8='+obj8 \
+'&format=json&jsonVD=Y'

In [15]:
import yfinance as yf

In [16]:
msft = yf.Ticker("MSFT")

In [17]:
msft

yfinance.Ticker object <MSFT>

In [21]:
hist = msft.history(period="1mo")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-09-14 00:00:00-04:00,339.149994,340.859985,336.570007,338.700012,20267000,0.0,0.0
2023-09-15 00:00:00-04:00,336.920013,337.399994,329.649994,330.220001,37666900,0.0,0.0
2023-09-18 00:00:00-04:00,327.799988,330.399994,326.359985,329.059998,16834200,0.0,0.0
2023-09-19 00:00:00-04:00,326.170013,329.390015,324.510010,328.649994,16505900,0.0,0.0
2023-09-20 00:00:00-04:00,329.510010,329.589996,320.510010,320.769989,21436500,0.0,0.0
2023-09-21 00:00:00-04:00,319.260010,325.350006,315.000000,319.529999,35529500,0.0,0.0
2023-09-22 00:00:00-04:00,321.320007,321.450012,316.149994,317.010010,21447900,0.0,0.0
2023-09-25 00:00:00-04:00,316.589996,317.670013,315.000000,317.540009,17836000,0.0,0.0
2023-09-26 00:00:00-04:00,315.130005,315.880005,310.019989,312.140015,26297600,0.0,0.0
2023-09-27 00:00:00-04:00,312.299988,314.299988,309.690002,312.790009,19410100,0.0,0.0
2023-09-28 00:00:00-04:00,310.989990,315.480011,309.450012,313.640015,19683600,0.0,0.0
2023-09-29 00:00:00-04:00,317.750000,319.470001,314.980011,315.750000,24140300,0.0,0.0
2023-10-02 00:00:00-04:00,316.279999,321.890015,315.179993,321.799988,20570000,0.0,0.0
2023-10-03 00:00:00-04:00,320.829987,321.390015,311.209991,313.390015,21033500,0.0,0.0
2023-10-04 00:00:00-04:00,314.029999,320.040009,314.000000,318.959991,20720100,0.0,0.0
2023-10-05 00:00:00-04:00,319.089996,319.980011,314.899994,319.359985,16965600,0.0,0.0
2023-10-06 00:00:00-04:00,316.549988,329.190002,316.299988,327.260010,25645500,0.0,0.0
2023-10-09 00:00:00-04:00,324.750000,330.299988,323.179993,329.820007,19891200,0.0,0.0
2023-10-10 00:00:00-04:00,330.959991,331.100006,327.670013,328.390015,20557100,0.0,0.0
2023-10-11 00:00:00-04:00,331.209991,332.820007,329.140015,332.420013,20063200,0.0,0.0
2023-10-12 00:00:00-04:00,330.570007,333.630005,328.720001,331.160004,19313100,0.0,0.0
2023-10-13 00:00:00-04:00,332.380005,333.829987,326.359985,327.730011,21072400,0.0,0.0